body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:682px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:1350px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:80px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:660px;
  height:1350px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:667px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:1280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:35px;
  width:600px;
  height:1280px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:60px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:34px;
  width:382px;
  height:60px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:54px;
  width:120px;
  height:20px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:54px;
  width:20px;
  height:20px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:45px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:125px;
  width:15px;
  height:45px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:11px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:1283px;
  width:345px;
  height:11px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:65px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:15px;
  height:65px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:65px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:251px;
  width:15px;
  height:65px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:129px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:218px;
  width:15px;
  height:129px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1211px;
  width:200px;
  height:104px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:104px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:1211px;
  width:200px;
  height:104px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:104px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:1211px;
  width:200px;
  height:104px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:104px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-decoration:none;
  color:#0066CC;
  text-align:center;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:330px;
  width:170px;
  height:170px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:120px;
  width:129px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:2px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:180px;
  width:600px;
  height:1px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:932px;
  width:185px;
  height:88px;
  font-size:28px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:181px;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:575px;
  width:129px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:575px;
  width:129px;
  height:37px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:638px;
  width:161px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:638px;
  width:86px;
  height:37px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:315px;
  width:200px;
  height:200px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:222px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:1432px;
  width:499px;
  height:222px;
  font-size:36px;
  text-align:left;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:495px;
  word-wrap:break-word;
}
