body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2302 {
  position:fixed;
  left:50%;
  margin-left:-512px;
  top:0px;
  width:1024px;
  height:114px;
  overflow:hidden;
}
#u2302_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:114px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 0.8);
  background-image:none;
}
#u2302_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2303_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1027px;
  height:6px;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:1024px;
  height:3px;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:76px;
  width:513px;
  height:20px;
}
#u2305_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:519px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:25px;
}
#u2307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:98px;
  word-wrap:break-word;
}
#u2309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:0px;
  width:102px;
  height:20px;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:98px;
  word-wrap:break-word;
}
#u2311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:0px;
  width:102px;
  height:20px;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:98px;
  word-wrap:break-word;
}
#u2313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:0px;
  width:103px;
  height:20px;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u2315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:20px;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:0px;
  width:104px;
  height:20px;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:20px;
  width:100px;
  height:90px;
  visibility:hidden;
}
#u2317_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u2319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:20px;
  width:100px;
  height:90px;
  visibility:hidden;
}
#u2325_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u2327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
  font-size:11px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:24px;
  width:124px;
  height:16px;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
}
#u2333_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
}
#u2333.mouseOver {
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u2335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:66px;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:-4px;
  width:77px;
  height:66px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:20px;
  width:65px;
  height:21px;
}
#u2337_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
  font-size:28px;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:64px;
  width:187px;
  height:34px;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
  font-size:28px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u2340_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1027px;
  height:6px;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1024px;
  height:3px;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:62px;
  width:168px;
  height:40px;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:164px;
  word-wrap:break-word;
}
#u2345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:19px;
  width:20px;
  height:20px;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:19px;
  width:20px;
  height:20px;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:52px;
  width:20px;
  height:20px;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:54px;
  width:9px;
  height:16px;
  color:#FFFFFF;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:211px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:774px;
  width:1024px;
  height:211px;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:98px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:930px;
  width:588px;
  height:46px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  word-wrap:break-word;
}
#u2358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  color:#FFFFFF;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:817px;
  width:152px;
  height:87px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  color:#FFFFFF;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u2362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:817px;
  width:152px;
  height:87px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u2364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  color:#FFFFFF;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:817px;
  width:152px;
  height:87px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  color:#FFFFFF;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u2366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  color:#FFFFFF;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:821px;
  width:152px;
  height:87px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  color:#FFFFFF;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u2368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:845px;
  width:101px;
  height:40px;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:200px;
  width:89px;
  height:17px;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u2372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:151px;
  width:123px;
  height:22px;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:196px;
  width:360px;
  height:30px;
}
#u2374_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:300px;
  width:292px;
  height:40px;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:288px;
  word-wrap:break-word;
}
#u2377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:254px;
  width:112px;
  height:17px;
  font-family:'BigCaslon-Medium', 'Big Caslon Medium', 'Big Caslon';
  font-weight:500;
  font-style:normal;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:247px;
  width:360px;
  height:30px;
}
#u2379_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
