body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1325px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1325px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1325px;
  height:600px;
}
#u3848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:1321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:600px;
}
#u3850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:125px;
}
#u3852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3853 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:43px;
  width:83px;
  height:36px;
}
#u3854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u3855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3855 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:161px;
  width:29px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3857 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:205px;
  width:57px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3859 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:245px;
  width:57px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3861 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:325px;
  width:57px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3863 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:409px;
  width:71px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3865 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:422px;
  width:57px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3867 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:368px;
  width:57px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3869 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:488px;
  width:71px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:151px;
  width:157px;
  height:40px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:153px;
  word-wrap:break-word;
}
#u3873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3873 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:281px;
  width:57px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3875 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:0px;
  width:150px;
  height:600px;
}
#u3876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3877 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:450px;
  width:57px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3879 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:137px;
  width:71px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3881 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:93px;
  width:71px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3883_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:35px;
}
#u3883 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:90px;
  width:23px;
  height:25px;
}
#u3884 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:600px;
}
#u3886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:125px;
}
#u3888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3889 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:43px;
  width:83px;
  height:36px;
}
#u3890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u3891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3891 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:161px;
  width:29px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3893 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:205px;
  width:57px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3895 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:245px;
  width:57px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3897 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:325px;
  width:57px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3899 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:409px;
  width:71px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3901 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:368px;
  width:57px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3903 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:488px;
  width:71px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:311px;
  width:157px;
  height:40px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:153px;
  word-wrap:break-word;
}
#u3907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3907 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:281px;
  width:57px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3909 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:450px;
  width:57px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:600px;
}
#u3912 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:125px;
}
#u3914 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3915 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:43px;
  width:83px;
  height:36px;
}
#u3916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u3917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3917 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:248px;
  width:29px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3919 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:282px;
  width:57px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3921 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:203px;
  width:57px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3923 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:368px;
  width:71px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:233px;
  width:157px;
  height:40px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3926 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:153px;
  word-wrap:break-word;
}
#u3927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3927 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:322px;
  width:57px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3929 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:402px;
  width:85px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3931 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:161px;
  width:57px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3933 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:463px;
  width:951px;
  height:56px;
}
#u3934 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:947px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  height:106px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3935 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:288px;
  width:951px;
  height:106px;
}
#u3936 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:45px;
  width:947px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3937 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:47px;
  width:81px;
  height:28px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3939 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:55px;
  width:70px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u3941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3941 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:55px;
  width:88px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u3943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3943 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:238px;
  width:110px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u3945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0033FF;
}
#u3945 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:333px;
  width:55px;
  height:16px;
  text-decoration:underline;
  color:#0033FF;
}
#u3946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3947 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:333px;
  width:187px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u3949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3949 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:333px;
  width:55px;
  height:16px;
}
#u3950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3951 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:333px;
  width:55px;
  height:16px;
}
#u3952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3953 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:333px;
  width:55px;
  height:16px;
}
#u3954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u3955 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:333px;
  width:167px;
  height:16px;
  color:#1E1E1E;
}
#u3956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u3957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0066CC;
}
#u3957 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:333px;
  width:55px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0066CC;
}
#u3958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u3959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0066FF;
}
#u3959 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:333px;
  width:110px;
  height:16px;
  text-decoration:underline;
  color:#0066FF;
}
#u3960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u3961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0033FF;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:419px;
  width:55px;
  height:16px;
  text-decoration:underline;
  color:#0033FF;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:419px;
  width:167px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u3965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:419px;
  width:55px;
  height:16px;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:419px;
  width:167px;
  height:16px;
  color:#1E1E1E;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u3969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0066FF;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:419px;
  width:110px;
  height:16px;
  text-decoration:underline;
  color:#0066FF;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u3971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0033FF;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:483px;
  width:55px;
  height:12px;
  text-decoration:underline;
  color:#0033FF;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:481px;
  width:167px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u3975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:483px;
  width:167px;
  height:16px;
  color:#1E1E1E;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u3977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0066FF;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:483px;
  width:110px;
  height:16px;
  text-decoration:underline;
  color:#0066FF;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:149px;
  width:150px;
  height:31px;
}
#u3979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:238px;
  width:68px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u3982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:238px;
  width:60px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u3984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:92px;
  width:280px;
  height:31px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:92px;
  width:150px;
  height:31px;
}
#u3986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:238px;
  width:68px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u3989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:238px;
  width:68px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u3991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:333px;
  width:187px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u3993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:419px;
  width:187px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u3995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:479px;
  width:187px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u3997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0066CC;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:415px;
  width:55px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0066CC;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u3999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0066CC;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:481px;
  width:55px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#0066CC;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u4001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:238px;
  width:68px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u4003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:333px;
  width:187px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u4005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:419px;
  width:187px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u4007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:479px;
  width:187px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u4009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:238px;
  width:68px;
  height:20px;
  font-family:'PingFang-TC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u4011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:333px;
  width:187px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u4013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:419px;
  width:187px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u4015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:479px;
  width:187px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
